@using Radzen.Blazor.Rendering

<AuthorizeView>
    <Authorized>
        <RadzenProfileMenu>
            <Template>
                <RadzenRow>
                    <RadzenLabel Text="Hello,"/>
                    <RadzenLabel Text=@context.User.Identity.Name></RadzenLabel>
                </RadzenRow>
            </Template>
            <ChildContent>
                <RadzenProfileMenuItem Text="Edit Profile" Path="MicrosoftIdentity/Account/EditProfile" Icon="edit"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Reset Password" Path="MicrosoftIdentity/Account/ResetPassword" Icon="lock_reset"></RadzenProfileMenuItem>
                <RadzenProfileMenuItem Text="Sign Out" Path="MicrosoftIdentity/Account/SignOut" Icon="logout"></RadzenProfileMenuItem>
            </ChildContent>
        </RadzenProfileMenu>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn" class="btn btn-primary">Log in</a>
    </NotAuthorized>
</AuthorizeView>