@using ATAFurniture.Server.Services
<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand ms-3" href="">Converter</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link px-3" href="" Match="NavLinkMatch.All">
                <RadzenIcon Icon="home" class="me-3"/> Home
            </NavLink>
        </div>
        <AuthorizeView>
            <div class="nav-item">
                <NavLink class="nav-link px-3" href="Converter" Match="NavLinkMatch.All">
                    <RadzenIcon Icon="receipt_long" class="me-3"/> Converter
                </NavLink>
            </div>
        </AuthorizeView>
        <div class="nav-item">
            <NavLink class="nav-link px-3" href="Configuration" Match="NavLinkMatch.All">
                <RadzenIcon Icon="settings" class="me-3"/> Configuration
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Inject] UserContextService UserContextService { get; set; }
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }
}
