@page "/counter"

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;
    
    [Inject]
    private ILogger<Counter> _logger { get; set; }
    
    private void IncrementCount()
    {
        _logger.LogInformation("Incrementing count");
        currentCount++;
        _logger.LogError("No Error, just test");
    }
}
