@page "/"

<RadzenStack Gap="1em">
    <RadzenCard>
        <RadzenLabel class="h1">За кой е този софтуер?</RadzenLabel>
        <RadzenText>Ако използвате <a href="https://wooddesigner.org/polyboard-software-tools/" target="_blank">PolyBoard</a> за да направите дизайн и разкрой на вашите мебели, този софтуер ще помогне за създаването на файловете за поръчка към <a href="https://lonyra.com/razkroj-i-kantirane/tehnologichna-karta/" target="_blank">Лонира</a></RadzenText>
    </RadzenCard>
    <RadzenCard>
        <RadzenLabel class="h2">Как се използва?</RadzenLabel>
        <ol>
            <li>Направете си регистрация</li>
            <li>Конфигурирайте функцията Cutting Lists на Polyboard</li>
            <li>Създайте нов Cutting List от Polyboard</li>
            <li>Качете файла в конвертора</li>
            <li>Свалете готовите файлове и спестете време и усилия</li>
        </ol>
    </RadzenCard>
    <RadzenAlert Variant="Variant.Filled" AlertStyle="AlertStyle.Primary">
        При регистрация, получавате безпратни кредити за конвертиране и тестване
    </RadzenAlert>
</RadzenStack>