@page "/signout"
@using ATAFurniture.Server.DataAccess

<h3>Signed out</h3>
<p>You have been signed out.</p>


@code{

    [Inject] UserContextService UserContextService { get; set; }
    protected override void OnInitialized()
    {
        UserContextService.SignOut();
    }

}